*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.songs-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
}